<%- include("partials/header") -%>

    <p class="home-about">Welcome to our oceanic wonderland! Dive into the depths of the world's oceans and explore the fascinating realm of marine life. Discover mesmerizing facts, breathtaking images, and valuable insights into the Earth's largest and most mysterious ecosystems. Join us on a journey to unveil the secrets of the deep blue sea.</p>
    <p class="home-about">SeaLifeData is an innovative and educational online platform dedicated to fostering a deeper understanding and appreciation of our planet's aquatic ecosystems. It serves as a comprehensive resource for individuals interested in exploring and preserving the diverse life forms found in oceans, rivers, lakes, and other natural bodies of water.</p>

    <div class="map-container">
        <div id="map" style="height: 450px;">
        </div>
    </div>    
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>


<%- include("partials/footer") -%> 